html {
    font-family: Helvetica,Arial,sans-serif;
    color: #555;
}

.chartAndTableBin {
    width: 0px auto;
    float: left;
}

.tableContainer {
    text-align: left;
    display: inline-block;
    margin: 20px 50px;
    padding: 20px;
    border: solid 1px #999;
}

.chartContainer {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.chart {
    display: inline-block;
    width: 150px;
    height: 80px;
    border: solid 1px #444;
}

.columnSearch {
    width: 100%;
}

.vertebrateTable td,
.vertebrateTable th {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
